<!-- <div class="contaier">
    <div class="row">
        <ul>
            <li class="nav-item">
                <a href="/drivers" class="nav-link" routerLink="drivers">Driver list</a>
            </li>
            <li class="nav-item">
                <a href="/driver" class="nav-link" routerLink="driver">Add new driver</a>
            </li>
        </ul>
    </div>
</div> -->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Drivers</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <a href="/drivers" class="nav-link" routerLink="drivers">Driver list</a>
            <a href="/driver" class="nav-link" routerLink="driver">Add new driver</a>
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Orders</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <a href="/orders" class="nav-link" routerLink="orders">Orders list</a>
            <a href="/order" class="nav-link" routerLink="order">Add new order</a>
        </div>
    </div>
</div>